[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "==3.7.1"
numpy = "==1.15"
pytz = "==2017.3"
pandas = "*"
scikit-learn = "==0.20"
scipy = "==1.1.0"
jsonfield = "==2.0.2"
django-rq = "==1.0.0"
django-cors-headers = "==2.0.0"
django-websocket-redis = "==0.5.2"
python-dateutil = "==2.7.2"
hyperopt = "*"
networkx = "==2.2"
xgboost = "*"
rq-scheduler = "*"
dill = "*"
rq = "==0.13.0"
redis = "==3.0.0"
pm4py = "*"
Django = "==1.11.18"

[requires]
python_version = "3.6"
