[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "==2.0.15"
Sphinx = "==1.8.4"
sphinx-rtd-theme = "==0.4.3"
pylint = "==2.2.2"
sphinx-autodoc-typehints = "==1.6.0"
pyparsing = "*"
pydot = "*"

[packages]
djangorestframework = "==3.7.1"
pytz = "==2017.3"
numpy = "==1.15.1"
pandas = "==0.23.4"
scikit-learn = "==0.20"
scipy = "==1.1.0"
jsonfield = "==2.0.2"
django-rq = "==1.0.0"
django-cors-headers = "==2.0.0"
django-websocket-redis = "==0.5.2"
python-dateutil = "==2.7.2"
hyperopt = "==0.1.1"
networkx = "==2.2"
xgboost = "==0.81"
rq-scheduler = "==0.9"
dill = "==0.2.9"
rq = "==0.13.0"
redis = "==3.0.0"
pm4py = "==1.0.21"
tensorflow = "==1.12.0"
h5py = "==2.9.0"
Django = "==1.11.18"
Distance = "==0.1.3"
Keras = "==2.2.4"
scikit-multiflow = "==0.1.2"
django-extensions = "*"


[requires]
python_version = "3.6"
