Django==1.11.18
djangorestframework==3.7.1
pytz==2017.3
numpy==1.13.3
pandas
scikit-learn==0.20
scipy==1.0.0
jsonfield==2.0.2
django-rq==1.0.0
django-cors-headers==2.0.0
django-websocket-redis==0.5.2
python-dateutil==2.7.2
hyperopt
networkx==1.11
xgboost
rq-scheduler
dill
rq==0.10.0
redis==2.10.6
pm4py
distance
tensrflow
keras
h5py
