Django==1.11.15
djangorestframework==3.7.1
NumPy==1.15
pytz==2017.3
git+git://github.com/TKasekamp/OpyenXes@master#egg=opyenxes
pandas
scikit-learn==0.20
scipy==1.1.0
jsonfield==2.0.2
django-rq==1.0.0
django-cors-headers==2.0.0
django-websocket-redis==0.5.2
python-dateutil==2.7.2
hyperopt
networkx==1.11
xgboost
rq-scheduler
dill
